* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  height: 4em;
  background-color: #147dff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container div {
  flex: 1;
}

.nav-element {
  text-decoration: none !important;
  color: bisque;
  font-size: 1.2rem;
  font-family: math;
}

.nav-sec-1 {
  display: flex;
  justify-content: start;
}

.nav-sec-1 {
  display: flex;
  justify-content: start;
}

.logo {
  width: 100%;
}

.small-img {
  max-width: 105px;
  ;
}

.nav-sec-2 {
  display: flex;
  justify-content: space-evenly
}